/**
* 全局样式
*/
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    box-sizing: border-box;
    background-color: #fafafa;
    & > * {
        flex: 0 0 auto; // flex-grow: 0, flex-shrink: 0, flex-basis: auto (子元素不伸缩)
    }
}
// 占位符
.space-1{
    flex: 1 1 auto; // flex-grow: 1, flex-shrink: 1, flex-basis: auto (子元素伸缩)
}
.space-2{
    flex: 2 1 auto; // flex-grow: 2, flex-shrink: 1, flex-basis: auto (子元素伸缩)
}