@use '../../assets//scss//mixin.scss' as *;
.page{
    $active-color: #008FFF;
    $title-color: #333;
    $item-title-color: #353B45;
    $item-text-color: #666;
    $module-margin: 27px;
    padding: 0 16px;
    // height: calc(100% - 51px);
    margin-bottom: calc(51px + env(safe-area-inset-bottom));
    // 社区选择
    .community-picker{
        @include flex(row, flex-start, center);
        margin: 14px 0;
        .local-icon{
            @include wh(16.5px, 18px);
        }
        .community-name{
            font-size: 16px;
            color: $title-color;
            // normal-400 bold-700
            font-weight: bold;
            margin: 0 9.5px 0 6px;
        }
        .arrow-icon{
            @include wh(6px, 5px);
        }
    }
    // 轮播图
    .banner-swipe{
        @include wh(100%, 162px);
        border-radius: 8px;
        margin-bottom: 18.5px;
    }
    // 菜单宫格
    .menu-grid{
        width: 100%;
        margin-bottom: 16px;
        .menu-tab{
            display: flex;
            border-radius: 16px 16px 0 0;
            align-items: flex-end;
            overflow: hidden; // 重点
            &_item{
                @include flex-center();
                letter-spacing: 2px;
                width: calc(100% / 3);
                // border: 1px solid red;
                border-radius: 16px 16px 0 0;
                &_selected{
                    font-size: 14px;
                    color: $active-color;
                    font-weight: 700;
                    background-color: #fff;
                    height: 45px;
                    position: relative;
                    z-index: 2;
                    // box-shadow的作用是填充伪元素倾斜后露出的空隙
                    box-shadow: 20px 25px #fff, -20px 25px #fff; // 重点
                    // 作用：通过伪元素和倾斜变形来实现两侧的斜切效果
                    &::before{
                        content: '';
                        @include wh(16px, 45px);
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        left: -7px;
                        transform: skewX(-15deg);
                        border-radius: 38px 0 0 0;
                    }
                    &::after{
                        content: '';
                        @include wh(16px, 45px);
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        right: -7px;
                        transform: skewX(15deg);
                        border-radius: 0 38px 0 0;
                    }
                }
                &_default{
                    font-size: 13px;
                    color: $item-text-color;
                    background-color: #F4F9FD;
                    height: 40px;
                    position: relative;
                    // 作用：通过伪元素和倾斜变形来实现两侧的斜切效果
                    &::before{
                        content: '';
                        @include wh(16px, 45px);
                        background-color: #F4F9FD;
                        position: absolute;
                        top: 0;
                        left: 7px;
                        transform: skewX(15deg);
                        border-radius: 38px 0 0 38px;
                        z-index: 3;
                    }
                    &::after{
                        content: '';
                        @include wh(16px, 45px);
                        background-color: #F4F9FD;
                        position: absolute;
                        top: 0;
                        right: 7px;
                        transform: skewX(-15deg);
                        border-radius: 0 38px 38px 0;
                        z-index: 3;
                    }
                }
            }
        }
        .menu-item{
            --van-grid-item-icon-size: 48px;
            --van-grid-item-text-color: #343A45;
            background-color: #F4F9FD;
            border-radius: 0 0 8px 8px;
            &_container{
                background-color: #fff;
            }
            &_r1{
                border-radius: 0 8px 8px 8px;
            }
            &_r2{
                border-radius: 8px;
            }
            &_r3{
                border-radius: 8px 0 8px 8px;
            }
            .van-grid{
                padding: 8px;
                box-sizing: border-box;
            }
        }
        
    }
    // 公告通知
    .notice{
        --van-notice-bar-background: #fff;
        --van-notice-bar-padding: 0;
        --van-notice-bar-height: 50px;
        --van-notice-bar-text-color: $item-text-color;
        @include wh(100%, 61.5px);
        background-color: #fff;
        border-radius: 8px;
        padding: 14px 16px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        margin-bottom: $module-margin;
        &-img{
            @include wh(37px, 34px);
        }
        &-spot{
            font-size: 30px;
            color: $item-title-color;
            font-weight: 700;
            margin: 0 21.5px;
        }
        .right-arrow-icon{
            @include wh(28px, 28px);
        }
        .notice-bar{
            flex: 1;
            height: 50px;
            display: flex;
            align-items: center;
        }
        .notice-swipe{
            height: 50px;
            flex: 1;
        }
        .notice-swipe-item{
            display: flex;
            align-items: center;
            &_content{
                @include text-ellipsis(1);
            }
        }
    }
    // 模块公共标题样式
    .common-module-title{
        @include flex(row, space-between, center);
        font-size: 18px;
        color: $item-title-color;
        font-weight: 800;
        color: $title-color;
        margin-bottom: 20px;

        .title{
            text-align: center;
            line-height: 18px;
            &::after{
                content: '';
                @include wh(60px, 7px);
                display: block;
                background-color: #d9eafd;
                border-radius: 3px;
                margin-top: -3px
            }
        }
        .more-btn{
            @include wh(38.5px, 15px);
            @include flex-center();
            background-color: $active-color;
            font-size: 10px;
            color: #fff;
            font-weight: 500;
            border-radius: 8px;
        }
    }
    // 善生活、善资讯
    .function-list{
        &-item{
            display: grid;
            grid-template-columns: 219.5px 109.5px;
            grid-template-rows: repeat(2, 53px); // 53px 53px
            grid-gap: 9px 14px; // row-gap column-gap
            margin-bottom: $module-margin;
            &_icon1{
                grid-row: 1/3; // 合并两行
            }
            &_icon2{
                grid-row: 1/2;
            }
            &_icon3{
                grid-row: 2/3;
            }
            &-parking{
                grid-row: 1/3;
                grid-column: 1/2;
                display: flex;
                align-items: center;
                justify-content: space-around;
                background-color: #fff;
                border-radius: 8px;
                padding: 16px 17px;
                &_info{
                    @include flex(column, space-around, flex-start);
                    height: 100%;
                    .title{
                        font-size: 18px;
                        color: $title-color;
                        font-family: 'PangMenZhengDao';
                    }
                    .parking-count{
                        .label{
                            font-size: 12px;
                            color: #999;
                            margin-right: 7px;
                        }
                        .value{
                            font-size: 22px;
                            font-family: 'PangMenZhengDao';
                        }
                        .blue-color{
                            color: $active-color;
                        }
                        .orange-color{
                            color: #f27623;
                        }
                        // &:first-child{
                        //     .value{
                        //         color: $active-color;
                        //     }
                        // }
                        // &:nth-child(2){
                        //     .value{
                        //         color: #f27623;
                        //     }
                        // }
                    }
                    .btm-line{
                        border-bottom: 1px solid #efefef;
                        padding: 5px 0;
                    }
                }
                &_img{
                    @include wh(96px, 98.5px);
                }
            }
        }
    }
    // 善活动
    .activity-list{
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px 16px;
        box-sizing: border-box;
        margin-bottom: $module-margin;
        &-item{
            display: grid;
            grid-template-columns: 45px calc(100% - 55px);
            grid-template-rows: auto;
            column-gap: 10px;
            margin-bottom: 20px;
            .cover{
                @include wh(45px,45px)
            }
            .info{
                position: relative;
                width: 100%;
                .title{
                    width: 100%;
                    font-size: 12px;
                    color: $item-title-color;
                    margin-bottom: 6.5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .desc, .create-date{
                    font-size: 10px;
                    color: $item-text-color;
                }
                .desc{
                    width: 100%;
                    @include text-ellipsis(2);
                }
                .create-date{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    // 善房产
    .house-box{
        background-color: #fff;
        border-radius: 8px;
        padding: 20px 16px;
        margin-bottom: $module-margin;
        .house-tab{
            @include flex-center();
            margin-bottom: 15px;
            .house-tab-item{
                @include wh(45px, 20px);
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                color: #7897ba;
                background-color: #d9eafd;
                &:nth-child(1){
                    border-radius: 10px 0 0 10px;
                }
                &:nth-child(2){
                    border-radius: 0 10px 10px 0;
                    margin-left: 5px;
                }
            }
            .house-tab-active{
                color: #fff;
                background-color: $active-color;
            }
        }
        .house-list{
            display: grid;
            grid-template-columns: 90px calc(100% - 100px);
            grid-template-rows: auto;
            column-gap: 10px;
            margin-bottom: 15px;
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
            .cover{
                :deep(.van-image__img){
                    @include wh(90px, 90px);
                    border-radius: 4px;
                }
            }
            .info{
                width: 166px;
                .title{
                    font-size: 13px;
                    font-weight: bold;
                    color: #251d16;
                    margin-bottom: 7.5px;
                    .icon{
                        @include wh(13px, 13px);
                        display: inline-block;
                        font-size: 9px;
                        color: #fff;
                        text-align: center;
                        line-height: 13px;
                        margin-right: 5px;
                        border-radius: 50%;
                    }
                    .house{
                        background-color: #008FFF;
                    }
                    .car{
                        background-color: #ff8a00;
                    }
                }
                .tips{
                    font-size: 11px;
                    font-weight: bold;
                    color: #999;
                    margin-bottom: 6.5px;
                    .orange{
                        color: #f27623;
                    }
                }
                .tags{
                    // display: flex;
                    // justify-content: space-between;
                    // align-items: center;
                    margin-bottom: 9px;
                    .van-tag{
                        margin-right: 8px;
                        font-size: 10px;
                        font-weight: 500;
                    }
                }
                .price{
                    font-size: 14px;
                    font-weight: 800;
                    color: #f44341;
                }
            }
            .call{
                position: absolute;
                top: 0;
                right: 0;
                :deep(.van-image__img){
                    @include wh(23px, 23px);
                }
            }
        }
    }
}