@use '../../assets/scss/mixin.scss' as *;

.page {
    background-color: var(--login-bg-color);
    align-items: center;

    .leaf-top {
        @include wh(118px, 267px);
        position: absolute;
        top: 0;
        right: 0;
        pointer-events: none; // 让元素不响应鼠标事件
    }

    .leaf-bottom {
        @include wh(118px, 267px);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .logo {
        @include wh(250px, 81px);
        @include bg-image(url('@/assets/images/login/logo.png'), center, 100% 100%, no-repeat);
        // margin-top: 132px;
        margin-bottom: 14px;
    }

    .other-login {
        display: flex;
        align-items: center;
        font-size: 14px;
        align-self: stretch;
        padding: 24px 35px 0;

        &_check {
            color: #fff;
            display: flex;
            align-self: stretch; // 弹性布局时，拉伸填满侧轴

            img {
                @include wh(24px, 24px);
                margin-left: 16px;
                // &:last-child {
                //     // 最后一个元素
                //     margin-right: 0;
                // }
            }
        }

        .register {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .privacy {
        font-size: 14px;
        color: rgba(255, 255, 255, 0.45);
        margin-bottom: 36px;
        &_links {
            @include flex-center();
            gap: 40px;
        }

        .copyright {
            margin-top: 8px;
        }
    }

    /*     .agreement {
        color: rgba(255, 255, 255, 0.45);

        &_other {
            @include wh(160px, 22px);
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-bottom: 10px;
            margin-left: 15%;

            &_help {
                margin-right: auto;
            }

            &_privacy {
                left: 50%;
            }

            &_terms {
                margin-left: auto;
            }
        }

        &_local {
            @include wh(235px, 20px);
            align-items: center;
            display: flex;
            font-size: 12px;
            margin-bottom: 35px;
            justify-content: center; // 整体水平居中（核心：让整个组合块在父级中居中）

        }
    } */

    // 登录表单
    .login-form {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        --van-checkbox-checked-icon-color: #12b8af; // 复选框选中颜色

        &_item {
            height: 40px;
            background-color: #fff;
            border-radius: 4px;
            margin-bottom: 24px;
            border: 1px solid #d9d9d9;
        }
    }

    // 忘记密码
    .password-checked {
        font-size: 14px;
        color: #021c1b;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    // 登录按钮
    .submit-button {
        --van-button-primary-background: #12b8af; // 按钮背景色
        --van-button-radius: 4px; // 按钮圆角
        // --van-button-primary-border-color: #12b8af; // 更改按钮边框色
        font-size: 16px;
        color: #fff;
        height: 40px;
        border: none; // 去除边框颜色
    }

    // 发送验证码
    .send-code{
        font-size: 14px;
        color: #00B277;
    }
    .disabled{
        color: #999;
    }
}   